*::after,
*::before,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spectral", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
}

.navFixed {
  top: 0;
  left: 0;
  position: sticky;
  background-color: #ffc017;
  border-bottom: 1px solid black;
  margin-inline: auto;
  padding-inline: 120px;
  z-index: 1000;
}

.navSection {
  display: flex;
  align-items: center;
}

.logoDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.imgLogo {
  width: 150px;
  height: 75px;
  padding-right: 30px;
}

.ulDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.ul {
  width: 50px;
  display: flex;
  flex-direction: row;
  font-size: 1em;
}

.pNav {
  cursor: pointer;
  font-size: 0.8em;
}

.divBtn {
  display: flex;
  width: 20%;
  margin-left: 20px;
}

.getStarte {
  color: white;
  background-color: black;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 40px;
}

.stayCurios {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffc017;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 120px;
  position: relative;
}

.textDiv {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.stayCurios h1 {
  font-size: 5em;
  font-weight: 400;
}

.textP {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  padding: 20px 0;
}

.emmeDiv {
  display: flex;
  top: 0;
  right: 0;
  position: absolute;
}

.imgEmme {
  top: -230px;
  right: -130px;
  position: absolute;
  overflow: hidden;
  width: 40%;
}

.btnGeting {
  flex: auto;
  align-self: flex-end;
}

.cardTreding {
  padding-inline: 100px;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.divH3 {
  display: flex;
  flex-direction: row;
  padding-inline: 100px;
  padding-top: 30px;
  align-items: center;
  gap: 10px;
}
.h3Title {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
.icon {
  width: 1.7%;
}
