*::after,
*::before,
body {
  letter-spacing: 0.02sem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spectral", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
}
main {
  height: 100vh;
}

.navFixed {
  top: 0;
  left: 0;
  position: sticky;
  background-color: #ffc017;
  border-bottom: 1px solid black;
  margin-inline: auto;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 1000;
}

.navSection {
  display: flex;
  align-items: center;
}

.logoDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.imgLogo {
  width: 150px;
  height: 75px;
  padding-right: 30px;
}

.ulDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.ul {
  width: 50px;
  display: flex;
  flex-direction: row;
  font-size: 1em;
}

.pNav {
  cursor: pointer;
  font-size: 0.8em;
}

.divBtn {
  display: flex;
  padding-left: 20px;
  justify-content: end;
}

.getStarte {
  color: white;
  background-color: black;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 40px;
  width: 150px;
  display: inline-block;
}

.stayCurios {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffc017;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 100px;
  position: relative;
}

.textDiv {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.stayCurios h1 {
  font-size: 5em;
  font-weight: 400;
}

.textP {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  padding: 20px 0;
}

.emmeDiv {
  display: flex;
  top: 0;
  right: 0;
  position: absolute;
}

.imgEmme {
  top: -230px;
  right: -130px;
  position: absolute;
  overflow: hidden;
  width: 40%;
}

.btnGeting {
  flex: auto;
  align-self: flex-end;
}
.sectionCard {
  min-width: 400px;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: center;
  margin-bottom: 50px;
}
x .flx {
  display: flex;
}
.directionFlexColumn {
  width: 100%;
  flex-direction: column;
}
.directionFlexRow {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 20px;
}
.cardTreding {
  flex-direction: column;
  width: 33%;
  display: flex;
}
.divH3 {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  align-items: center;
  gap: 10px;
  margin: 30px 0px;
}
.h3Title {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Roboto";
}
.icon {
  width: 35px;
}

.avatarNomeDiv {
  display: inherit;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.numeroCard {
  width: 12%;
  color: #e6e7e7;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 35px;
  align-self: flex-start;
}
.avatarImg {
  width: 25px;
  border-radius: 100%;
}
.avatarImg2 {
  width: 25px;
  border-radius: 15%;
}
.positionCommento {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0px 10px 70px;
}
.nomeCard {
  font-family: "Roboto";
  font-size: 15px;
}
.LuogoCommento {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 20px;
}
.dataCommento {
  display: flex;
  flex-direction: row;
  color: #947975;
  gap: 10px;
  font-size: 16px;
  font-family: "Roboto";
}
.divBtn2 {
  display: flex;
  width: 20%;
}
.afterHr {
  width: 37%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.titoloCard {
  display: flex;
  flex-direction: column;
}
.dataAgging {
  display: flex;
  flex-direction: row;
  color: #757575;
  gap: 5px;
  align-items: center;
}
.h3Titolo {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 900;
}
.pWahtWe {
  color: #757575;
  font-family: "Roboto";
  font-size: 20px;
}
.spanBox {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.btnAging {
  padding: 5px;
  background-color: #f2f3f3;
  border: none;
  border-radius: 40px;
  align-items: center;
  color: #797675;
}

.imgArticolo {
  display: flex;
}
.avatarNomeDiv2 {
  width: ;
  display: inherit;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.mainSection {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
.imgFamil {
  width: 70%;
}
